.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    height: 35px;
    background-color: #34C94B;
    padding: 1px;
    object-fit: contain;
}

.btn {
    font-family: 'poppins';
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
    background-color: #121212;
    color: #34C94B;
    font-weight: 600;
    cursor: pointer;
}